doctype html

html
  head
    meta(charset='UTF-8')
    title CircleCI monitor
    style.
      body { width: 500px; }

  body
    #root
    script(src=env == 'prod' ? '/js/circlecimonitorapp.bundle.js' : 'http://localhost:8000/js/circlecimonitorapp.bundle.js')
