$success-color: #229922;
$running-color: #3a87ad;
$stopped-color: #898989;
$failed-color: #c13737;

html { margin:0; }
body {
  margin:0;
  font-size: 15px;
  min-width: 450px;
  overflow-x: hidden;
}

ul, ol {
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

#project-tabs {
  float: left;
  width: 120px;

  ul {
    border-right: 1px solid #aaa;
    padding: 5px 0;
  }

  li {
    cursor: pointer;
    padding: 8px;
    padding-right: 3px;
    overflow: hidden;
    margin-bottom: 3px;
    text-decoration: underline;
    &.active {
      text-decoration: none;
      border: 1px solid #aaa;
      border-right: none;
      border-radius: 5px 0 0 5px ;
      background-color: #fff;
      position: relative;
      padding-left: 9px;
      left: 1px;
    }
  }
}

#branches {
  float:right;
  width: 325px;
  .branches-body {
    display: none;
    margin-top: 5px;
    &.active {
      display: block;
    }
  }

  li {
    padding:5px;
    cursor: pointer;
    border-bottom: 1px solid #999;
    &::before {
      padding-right: 5px;
    }
  }

  .running {
    color: $running-color;
    &::before {
      content: '\25EF';
    }
  }

  .success, .fixed {
    color: $success-color;
    &::before {
      content: '\25C9';
    }
  }

  .failed {
    color: $failed-color;
    &::before {
      content: '\2A02';
    }
  }

  .canceled, .retried {
    color: $stopped-color;
    &::before {
      content: '-';
    }
  }
}
