$success-color: #229922;
$running-color: #3a87ad;
$stopped-color: #898989;
$failed-color: #c13737;

html { margin:0; }
body {
  margin:0;
  font-size: 15px;
  min-width: 357px;
  overflow-x: hidden;
}

ul, ol {
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

#project-tabs {
  ul {
    border-bottom: 1px solid #999;
    padding: 0 5px;
  }

  li {
    display: inline-block;
    padding: 3px;
    border: 1px solid #999;
    border-radius: 1px;
    border-bottom: none;
    background-color: #eee;
    overflow: visible;
    &.active {
      background-color: #fff;
      position: relative;
      top: 1px;
    }
  }
}

#branches {
  .branches-body {
    display: none;
    &.active {
      display: block;
    }
  }

  li {
    padding:5px;
    cursor: pointer;
    border-bottom: 1px solid #999;
    &::before {
      content: '\25C9';
      padding-right: 5px;
    }
  }

  .running {
    color: $running-color;
    &::before {
      content: '\25EF';
    }
  }

  .success, .fixed {
    color: $success-color;
  }

  .failed {
    color: $failed-color;
  }

  .canceled, .retried {
    color: $stopped-color;
    &::before {
      content: '-';
    }
  }
}
